<template>
  <section>
    <li>
      <h2>{{ name }} {{ isFavorite ? "♡" : "" }}</h2>
      <button @click="toggleFavorite">Love</button>
      <br /><br />
      <button @click="toggleDetails">
        {{ detailsAreVisible ? "Hide" : "Show" }}
      </button>
      <ul v-show="detailsAreVisible">
        <li>Phone : {{ phone }}</li>
        <li>Phone : {{ email }}</li>
      </ul>
    </li>
  </section>
</template>

<script>
export default {
  props: {
    id: {
      type: String,
      required: true
    },
    name: {
      type: String,
      required: true
    },
    phone: {
      type: String,
      required: true
    },
    email: {
      type: String,
      required: true
    },
    isFavorite: {
      type: Boolean,
      required: false,
    },
  },
  data() {
    return {
      detailsAreVisible: false
    };
  },
  methods: {
    toggleDetails() {
      this.detailsAreVisible = !this.detailsAreVisible;
    },
    toggleFavorite() {
      this.$emit('toggle-favorite', this.id);
    },
  },
};
</script>
